#headerad{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
   background-repeat: no-repeat;
   shape-margin: 0.75;

}

#nav-buttonad{
  display:flex;

}

#navigationBarad{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 160px;
}

#navigationBarad li{
    list-style: none;
    padding: 0 20px;
    position:relative;

}

#navigationBarad li a{
 /* */
 text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

/* for our hover effect with changing its color when mouse comes over*/ 
#navigationBarad li a:hover,
#navigationBarad li a.active{
 color: #7a040e;

}

/* This is where when you hover it shows the line and color*/
#navigationBarad li a.active::after,
#navigationBarad li a:hover::after{
    content: "";
    width:30%;
    height: 2px;
    background: #7a040e;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

h1 {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

section {
    padding: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input[type="text"], button {
    width: 85%;
    padding: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

